@mixin transition($type, $speed) {
  -webkit-transition: $type $speed ease-in-out;
  -moz-transition: $type $speed ease-in-out;
  -o-transition: $type $speed ease-in-out;
  transition: $type $speed ease-in-out;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: rgba(0,0,0,.06)) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  text-shadow: $shadow;
}