$font: 'Montserrat', sans-serif;
$slider-font: 'Open Sans', sans-serif;

/* Set assets path for different color variation */
$assetPath: 'images'; //value is name of folder

/* Blueprint */
$text: #fff;
$background: #2292c0;
$form: #01588d;
$white: #fff;